include LICENSE
include README.md
recursive-include docs *
include simple_deploy/management/commands/simple_deploy.py
include simple_deploy/management/commands/utils/__init__.py
include simple_deploy/management/commands/utils/deploy_heroku.py
include simple_deploy/management/commands/utils/deploy_messages.py
include simple_deploy/management/commands/utils/deploy_messages_heroku.py
