---
name: Documenting a test run
about: Template for documenting test runs of `django-simple-deploy`.
title: Documenting a Test Run
labels: 'test run'
assignees: ''

---

Thank you for documenting a test run of `django-simple-deploy`! In the pre-1.0 phase of development, every test run is a helpful data point. For more about test runs, please see [Documenting a Test Run](https://django-simple-deploy.readthedocs.io/en/latest/contributing/test_run.md/).

Please answer any or all of the following questions. The more information you share, the more easily we'll be able to integrate your feedback into the project.

Before completing the test run:
- What OS are you using?
- What project are you deploying? (the sample blog project, or your own project?)
- If you're not deploying the sample blog project, can you provide a link to the project you're working with?
- What dependency management system are you using?
- Which platform are you targeting?

After you complete the test run, please answer the following questions in a followup comment:
- What worked well?
- What did not work well?
- What suggestions do you have for the project based on your test run?
- What questions do you have about the project based on your test run?
